*{
    margin: 0;
}

#upside{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

#logo{
    margin: 2px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: inline;
}

#libraryName{
    display: inline;
    margin-left: 5px;
}

#logoAndName{
    display: flex;
    align-items: center;
}

#logo:hover{
    cursor: pointer;
}

#magnifierImg{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 2px;
}

.Btn{
    background-color: transparent;
    border:  none;
}

.Btn:hover{
    cursor: pointer;
}

#searchBackground{
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1521587760476-6c12a4b040da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#searchBox{
    background-color: white;
    display: inline;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
}

#searchInput{
    width: 300px;
    height: 25px;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 50px;
}

#category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    outline: 10px black;
}

a{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 90px;
    margin-right: 90px;
    color: black;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

/* @media only screen and (max-width: 800px){
    #category{
        display:block;
    }
} */

#footer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#recommendedBookList{
    margin-left: 50px;
}

.recommendedBook{
    width: 100px;
    height: 140px;
    background-color: gray;
    margin-top: 5px
    ;
}

#referenceSite{
    margin-bottom: 50px;
}

.referenceImg{
    width: 80px;
    height: 80px;
}

.referenceImg:hover{
    cursor: pointer;
}

#referenceBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5px;
}