<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <link rel="stylesheet" href="/CSS/bookScriptStyles.css">
</head>
<body>
<div id="logo" >
  <img src="/img/book.png" alt="book" th:onclick="|location.href='@{/index}'|" style="width: 2.5%;
  margin-right: 5px; cursor: pointer; "/>
  <span th:onclick="|location.href='@{/index}'|" style="cursor: pointer; ">MJSL</span>
</div>
<!--이게 메인페이지 역할을 하고 있는건데, 그냥 메인페이지 연결하고 나면 이건 삭제해도 됩니다. 없어도 되는 페이지 입니다.-->
<div class="centered-container">
  <div class="button-group">
    <button class="index-button" onclick=saveReq()>독후감 쓰러 가기</button>
    <button class="index-button" onclick=pagingReq()>독후감 목록 보기</button>
  </div>
</div>

</body>
<script>

  const saveReq = () => {
    location.href = "/script/save";
  }

  const pagingReq = () => {
    location.href = "/script/paging";
  }

</script>
</html>
